<section style="border-bottom: 1px solid #7d7d7d;">
    <h3>
        <i class="fa fa-info-circle" style="color: darkblue;"></i>&nbsp;About the DevOps Dashboard
    </h3>
    <span class="text-sm">Use this page to get an overview of this application.</span>
</section>


<section style="padding: 20px;">
    <p class="text-center"><img src="Images/webenglogo.png" width="350" /> <img src="Images/logo-ccsu.jpg" height="100" /></p>
    <p>

        This website was developed to give an overview and summary of the DevOps
        pipeline and tools. This application was developed by Web Engineering/Platform
        Engineering in collaboration with CCSU Sutdents in Fall 2017, using the
        following technologies:
        <ul>
            <li>
                <a href="https://angularjs.org/" target="_blank">
                    <img src="Images/logo-angularjs.jpg" height="35" />
                </a>
                &nbsp;-&nbsp;<a href="https://angularjs.org/" target="_blank">AngularJS</a> for client-side routing, AJAX calls, and UI data binding.
            </li>
            <li>
                <a href="https://getbootstrap.com/" target="_blank">
                    <img src="Images/logo-bootstrap.png" height="35" />
                </a>
                &nbsp;-&nbsp;<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> for the look/feel and for a mobile-friendly, responsive design.
            </li>
            <li>
                <a href="https://www.asp.net/web-api" target="_blank">
                    <img src="Images/logo-aspnet.png" height="35" />
                </a>
                &nbsp;-&nbsp;<a href="https://www.asp.net/web-api" target="_blank">ASP.NET Web API</a> for the REST service backend, caching, and for secure access to CouchDB.
            </li>
        </ul>

    </p>
</section>