
<section>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Source <img src="Images/logo-git.png" class="pull-right" height="22" /></h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-footer">
                            <i class="fa fa-address-book"></i>&nbsp;Organizations <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-database"></i>&nbsp;Repositories <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-code-fork"></i>&nbsp;Branches <span class="pull-right">5</span>
                        </div>

                    </div>
                </div>
                <div class="panel-footer"><a href="https://github.aetna.com" target="_blank"><i class="fa fa-link"></i>&nbsp;Go to website...</a></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Build <img src="Images/logo-tc.png" class="pull-right" height="22" />
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-footer">
                            <i class="fa fa-address-book"></i>&nbsp;Organizations <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-users"></i>&nbsp;Projects <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-cog"></i>&nbsp;Builds <span class="pull-right">5</span>
                        </div>

                    </div>

                </div>
                <div class="panel-footer"><a href="https://teamcity.aetna.com" target="_blank"><i class="fa fa-link"></i>&nbsp;Go to website...</a></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Deploy <img src="Images/logo-octo-inv.png" class="pull-right" height="22" />
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-footer">
                            <i class="fa fa-object-ungroup"></i>&nbsp;Project Groups <div class="projectGroups"><span class="pull-right">0</span></div>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-product-hunt"></i>&nbsp;Projects <div class="projects"><span class="pull-right">0</span></div>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-heartbeat"></i>&nbsp;Lifecycles <div class="lifecycles"><span class="pull-right">0</span></div>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-photo"></i>&nbsp;Environments <div class="environments"><span class="pull-right">0</span></div>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-space-shuttle"></i>&nbsp;Deploys <div class="deploys"><span class="pull-right"><canvas id="canvas"></canvas></span></div>
                        </div>

                    </div>

                    

                </div>
                <div class="panel-footer"><a href="https://octodeploy.aetna.com" target="_blank"><i class="fa fa-link"></i>&nbsp;Go to website...</a></div>
            </div>
        </div>

    </div>

</section>
