
<section>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Source <img src="Images/logo-git.png" class="pull-right" height="22" /></h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-footer">
                            <i class="fa fa-address-book"></i>&nbsp;Organizations <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-database"></i>&nbsp;Repositories <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-code-fork"></i>&nbsp;Branches <span class="pull-right">5</span>
                        </div>

                    </div>
                </div>
                <div class="panel-footer"><a href="https://github.aetna.com" target="_blank"><i class="fa fa-link"></i>&nbsp;Go to website...</a></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Build <img src="Images/logo-tc.png" class="pull-right" height="22" />
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-footer">
                            <i class="fa fa-address-book"></i>&nbsp;Organizations <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-users"></i>&nbsp;Projects <span class="pull-right">5</span>
                        </div>
                        <div class="panel-footer">
                            <i class="fa fa-cog"></i>&nbsp;Builds <span class="pull-right">5</span>
                        </div>

                    </div>

                </div>
                <div class="panel-footer"><a href="https://teamcity.aetna.com" target="_blank"><i class="fa fa-link"></i>&nbsp;Go to website...</a></div>
            </div>
        </div>

        <div class="col-md-4 octopus-column" ng-controller="octopusController">
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Deploy<img src="Images/logo-octo-inv.png" class="pull-right" height="22" />
                    </h3>
                </div>
                
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-footer collapse-trigger" data-toggle="collapse" href="#projectGroupList">
                            <i class="fa fa-object-ungroup"></i>&nbsp;Project Groups<span class="pull-right badge badge-default badge-pill projectGroups">{{projectGroups.length}}</span>
                        </div>

                        <div id="projectGroupList" class="collapsible panel-collapse collapse">
                            <div class="pre-scrollable">
                                <ul class="list-group">
                                    <li data-ng-repeat="projectGroup in projectGroups" class="list-group-item">
                                        {{projectGroup.groupName}} <span class="badge badge-default badge-pill">{{projectGroup.projects.length}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-footer collapse-trigger" data-toggle="collapse" href="#projectsList">
                            <i class="fa fa-product-hunt"></i>&nbsp;Projects <span class="pull-right badge badge-default badge-pill projects">{{projects.length}}</span>
                        </div>

                        <div id="projectsList" class="collapsible collapse projectsList">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="projectFilter.name">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            <div class="pre-scrollable">
                                <a data-ng-repeat="project in projects | filter:projectFilter" on-finish-render="finished" href="javascript:void(0)" onclick="" class="list-group-item project" data-toggle="tooltip" data-original-title="{{project.lifecycle}}" style="display:block;overflow: hidden; border-top-left-radius: 0; border-top-right-radius: 0; height:70px; padding: 3px 10px;">
                                    <h4 class="list-group-item-heading">{{project.name}}</h4>
                                    <p class="list-group-item-text">{{project.groupId}}</p>
                                </a>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <i class="fa fa-heartbeat"></i>&nbsp;Lifecycles <span class="pull-right badge badge-default badge-pill lifecycles">{{lifecycles}}</span>
                        </div>

                        <div class="panel-footer collapse-trigger" data-toggle="collapse" href="#environments">
                            <i class="fa fa-photo"></i>&nbsp;Environments <span class="pull-right badge badge-default badge-pill numEnvironments">{{environments.length}}</span>
                        </div>

                        <div id="environments" class="collapsible panel-collapse collapse">
                            <div class="pre-scrollable">
                                <ul class="list-group">
                                    <li data-ng-repeat="environment in environments" class="list-group-item">
                                        {{environment.name}} <span class="badge badge-default badge-pill"> {{environment.description}} </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-footer collapse-trigger" data-toggle="collapse" href="#graph">

                            <i class="fa fa-space-shuttle"></i>&nbsp;Deploys <span class="pull-right badge badge-default badge-pill numLiveDeploys">{{liveDeploys.length}}</span>
                        </div>

                        <div id="graph" class="collapsible collapse graph">
                            <div class="btn-group pull-right" id="dataRep" data-toggle="buttons">
                                <label class="btn btn-primary active" id="opt1">
                                    <input type="radio" name="options1" id="option1" value="line" autocomplete="off" checked><i class="fa fa-line-chart"></i>
                                </label>
                                <label class="btn btn-primary" id="opt2">
                                    <input type="radio" name="options2" id="option2" value="pie" autocomplete="off"><i class="fa fa-pie-chart"></i>
                                </label>
                                <label class="btn btn-primary" id="opt3">
                                    <input type="radio" name="options3" id="option3" value="bar" autocomplete="off"><i class="fa fa-bar-chart"></i>
                                </label>
                            </div>
                            <div style="max-height:400px"><br /><div class="canvas-container"><i class='fa fa-cog faa-spin animated fa-5x graph-loading'></i><canvas class="octo-canvas"></canvas></div></div>
                            <br/>
                            <br/>

                        </div>
                    </div>
                </div>
                <div class="panel-footer"><a href="https://octodeploy.aetna.com" target="_blank"><i class="fa fa-link"></i>&nbsp;Go to website...</a>
                    <a class="pull-right" href="swagger/ui/index#!/Octopus" target="_blank"><i class="fa fa-code"></i>Go to Swagger...</a>
                </div>
            </div>
        </div>

        <div id="octoModal" class="modal fade col-xs-12 col-md-8 col-md-offset-2" role="dialog" style="max-height:90%;height:90%;overflow-y:auto" ng-controller="octopusController">
            <div class="modal-dialog" style="max-height:90%;overflow-y:auto;">
                <div class="modal-content">
                    
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"> <i class="fa fa-times-circle"></i></button>
                            <h4 class="modal-title">Selected Deploys</h4>
                        </div>
                        <div class="modal-body" style="max-height:90%;overflow-y:auto;">
                            <div class="row">
                                <div class="col-md-6 pre-scrollable" style="overflow-y:auto;overflow-x:auto;"><div class="list-group envList" style="position:absolute;display:none;overflow-y:auto;"></div></div>
                                <div class="col-md-6"><div class="deployData" style="display:none;overflow:hidden;white-space:pre-wrap"></div></div>
                            </div>


                        </div>
                    
                </div>
            </div>
        </div>

        <div id="projectModal" class="modal fade" role="dialog" style="width:95%;max-height:90%;height:90%;overflow-y:auto" ng-controller="octopusController">
            <div class="modal-dialog" style="width:95%;max-height:90%;overflow-y:auto;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"> <i class="fa fa-times-circle"></i></button>
                        <h4 class="modal-title">Progression Timeline</h4>
                    </div>
                    <div class="modal-body" style="max-height:90%;overflow-y:auto;">
                        <div id="tl">
                            <div id="timeline-embed">
                                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
