<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="angularjs" version="1.6.6" targetFramework="net461" />
  <package Id="angular-moment" version="1.1.0" targetFramework="net461" />
  <package Id="bootstrap" version="3.3.7" targetFramework="net461" />
  <package Id="Chart.js" version="2.6.0" targetFramework="net461" />
  <package Id="FontAwesome" version="4.7.0" targetFramework="net461" />
  <package Id="jQuery" version="3.2.1" targetFramework="net461" />
  <package Id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package Id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package Id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package Id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package Id="Microsoft.CodeDom.ProvIders.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package Id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net461" developmentDependency="true" />
  <package Id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net461" />
  <package Id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package Id="Moment.js" version="2.19.2" targetFramework="net461" />
  <package Id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package Id="Owin" version="1.0" targetFramework="net461" />
  <package Id="Swashbuckle" version="5.6.0" targetFramework="net461" />
  <package Id="Swashbuckle.Core" version="5.6.0" targetFramework="net461" />
  <package Id="TimelineJS" version="2.33.1" targetFramework="net461" />
  <package Id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>